{% extends 'base.html'%}

{% block content %}
{% load static %}

<div class="container-fluid padding">

    <div class="row jumbotron">
        <div id="welcome" class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 ">
            <img class="card-img-top" src="{% static 'img/image-3.jpg'%}" alt="founders_Image">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
            <h1 style="font-weight: 900; color: red; padding: 25px;" class=" my-1  display-4 ">ABOUT US </h1>
            <h2 style=" padding-left: 25px; padding-top: 10px;" class=" my-1 welcome_header2 display-4"> A Brief History </h2>
            <p id="about" style=" padding: 25px; padding-top: 15px;  line-height: 2; text-align:justify" class="para">Abundant Life Prayer and Evangelistic Ministry also known as Pilgrim Miracle Church 1st Sunday Service was held at Miracle House,
               Alarere Off Old Ife road, Ibadan o the 25th of December 1989 after a week long crusade.
               In 1990, the Lord promised to build the church a bigger place and directed the set man, 
               Rev Ademolaami Afolayan to move the ministry location to Ososami, Ibadan while services continue at Alarere Branch. </p> 
            <p id="about" style="padding: 25px; padding-top: 15px;  line-height: 2; text-align:justify" class="para">By God's grace, the foundation for the Miracle Tower Auditorium
               was laid in the year 1991. and was finally dedicated in the 2008.
               Over the years, several lives have been touched, souls saved, through our evangelistic efforts in crusades and
              outreaches and the church has been a platform for growing believers to maturity as we remain committed to our ministerial
              mandate of Declaring God's Praise, Destroying Idolatry and Preaching Holiness. </p> 
    </div>
</div>

<!--accordion-->
<div class="container-fluid">
    <div class="demo">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h1 class="mb-0">
                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus"></i>  Our Vision</button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <p class="">Our vision is to raise MEN and WOMEN to Perfection.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h1 class="mb-0">
                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"><i class="fa fa-plus"></i>  Our Mission</button>
              </h1>
            </div>
            <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <p class="">Preach Holiness, Declare My Praise, Destroy Idolatry and Set my People in Order and See the Gory of God Revealed in Them.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-plus"></i>  Our Values</button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                    <p>
                        “Molding believers, influencing the world”</p>
                    <li class="list-group-item">– Holiness (Hebrews 12:14b)</li>
                    <li class="list-group-item">
                        – God’s Praise (Isaiah 42:8)</li>
                    <li class="list-group-item">
                        – Destroy Idolatry (Exodus 34:12-13)”.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>

{% endblock %}