{% extends 'base.html'%}

{% block content%}
{% load static %}
<div id="slides" class="carousel slide" data-ride="carousel" data-interval="7000">

    <ul class="carousel-indicators">

        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>

    </ul>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url(static/img/image-3.jpg); background-position: center;  background-repeat: no-repeat;  background-size: cover;">
            <div class="carousel-caption text-center">
                <h3>Welcome to</h3>
                <h1>Pilgrim Miracle <br> Centre</h1>
                <a class="btn btn-outline-light btn-lg" href="{% url 'about' %}">Learn More</a>
            </div>
        </div>
        <div class="carousel-item " style="background-image: url(static/img/image-2.jpg);">
            <div class="carousel-caption text-center">
                <h3>A Church Fellowship</h3>
                <h1>Where Everybody is Somebody <br> And Jesus Christ Is Lord.</h1>
                <a class="btn btn-outline-light btn-lg" href="{% url 'ministries' %}">Learn More</a>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url(static/img/image-1.jpg);">
            <div class="carousel-caption text-center">
                <h3>Worship With Us</h3>
                <h1>This and Every Sunday</h1>
                <a class="btn btn-outline-light btn-lg" href="{% url 'church' %}">Learn More</a>
            </div>
        </div>

</div>

<!--founders Welcome Address-->
<div style="margin-top: 50px;" class="container padding">

    <div class="row jumbotron">
        <div id="welcome" class=" col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
            <img class="card-img-top" src="{% static 'img/image-3.jpg' %}" alt="founders_Image">
        </div>
        <div class=" col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h1 class="welcome_header bana display-4 " > Welcome to </h1>
            <h2  class="welcome_header2 display-4"> Pilgrim Miracle Church & Abundant Prayer and Evangelistic Ministries </h2>
            <p  class="para" style="text-align:justify"> I am thrilled to welcome all visitors to this website.</p> 
            <p  class="para" style="text-align:justify">Many years ago, the Lord spoke to me that He wanted me to start spreading abroad the message of Salvation and Deliverance by which He graciously saved and delivered me from the power of the wicked one. </p> 
            <p class="para" style="text-align:justify">He instructed me with the following clear cut words “Preach Holiness; Declare My Praise; Destroy Idolatry: Set My People in order and with them produce the Total Man”. </p>
        
            <p  class="para" style="text-align:justify">Over the years, we have these four cardinal points for building the body of knowledge that God has been revealing to us from the whole Bible.</p>
            <p  class="para" style="text-align:justify">You, with us, are on an adventure with God as you decide to visit us on this website, follow and or worship with us in this Amazing Ministry. </p>
            <p class="para" style="text-align:justify">You are welcome to enjoy with us the life of holiness that God makes available to us, through our Lord Jesus Christ.It is a major connecting point that makes possible a lasting relationship between the Creator and mortal men, for ‘Without holiness no one will see the Lord’ (Heb. 12:14b NIRV).</p>
            <p class="para" style="text-align:justify">Join with us as we ‘Declare God’s Praise’. No one else deserves to be praised. When we celebrate the Praise of God in the congregation of God’s people, the end result is God releases His glory among His people, and this Glory, God will share with no other person. God Himself declares: ‘I AM the Lord: that is My Name: and My Glory will I not give to another, neither My Praise to graven images’ (Isaiah 42:8 KJV).</p>
            <p class="para" style="text-align:justify">You are welcome to join us, to ‘Destroy Idolatry’. God hates idolatry in all its forms. He Himself commanded the children of Israel: “Be careful not to make a treaty with the inhabitants of the land you are entering, lest they become a snare in your midst. Rather, you must tear down their altars, smash their sacred stones, and chop down their Asherah poles” (Exo. 34:12-13. NIV).</p>
            <p class="para" style="text-align:justify">In concluding the writing on the manifestation of the gifts of the Spirit during church service, the Apostle Paul concludes with the statement “Let all things be done decently and in order” (1 Corin. 14:40 KJV). “Set My people in order” comes from the expected manner of comportment of church peoplein relation with being orderly before the Person of the Holy Spirit. It is the same Holy Spirit, who will work on men to make them to take after Christ, the ‘Perfect Man’.</p>
            <p class="para" style="text-align: justify">When Holiness, the Praise of God, the Destruction of Idolatry and Orderliness in God’s People constitute the main emphasis of a church and the Bible is preached under the unction of the Holy Spirit, it is sure that the Light of God’s Kingdom will fill the Church and its people. This is what members, friends and partners of our ministry enjoy in the work of God in our midst. These books tell the kind of people we are, the message we preach and the power of God that keeps us going. 

                Solomon had this to say “My son, eat honey because it is good, and the honeycomb which is sweet to your taste” (Proverbs 24:13).When you visit this website, you will find the Word of God that is sweet to your taste just like honeycomb.
                
                God bless you.
                Rev Ademolaami Adeniyi Afolayan
                The General Overseer 
                and 
                Rev Prof. Mrs. Adejumoke Alice Afolayan 
                The Vice President</p>
            

        
        </div>
    </div>
</div>

<!--church card-->
<div class="container padding">
    <div class="row padding">
        <div class="col-xs-12 col-sm-12 col-md-4 ">
            <div class="card">
            <img class="card-img-top" src="{% static 'img/image-2.jpg' %}" alt="">
            <div class="card-body">
                <h3 class="card-title">Our Church Ministries</h3>
                <p class="card-text "> We bring true worship to God and communicate the mind of God to the people through the following structures, thus raising men and women unto perfection. 
                </p>
                <a href="{% url 'ministries'%}" class="btn btn-outline-secondary">READ MORE</a>
            </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 ">
            <div class="card">
            <img class="card-img-top" src="{% static 'img/image-3.jpg' %}" alt="">
            <div class="card-body">
                <h3 class="card-title">Join a Church Group</h3>
                <p class="card-text" style="text-align: justify"> At PMC, we believe you can wholeheartedly love God, learn His principles and be a part of a group where your gifting can have maximum expression thereby contributing immensely to the growth of the church through the activities of these Ministries</p>
            <a href="{% url 'ministries' %}" class="btn btn-outline-secondary">READ MORE</a>
            </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 ">
            <div class="card">
            <img class="card-img-top" src="{% static 'img/image-4.jpg' %}" alt="">
            <div class="card-body">
                <h3 class="card-title">About Our Church</h3>
                <p class="card-text" style="text-align: justify">Abundant Life Prayer and Evangelistic Ministry also known as Pilgrim Miracle Church 1st Sunday Service was held at Miracle House...
                    </p>
                <a href="{% url 'about' %}" class="btn btn-outline-secondary">READ MORE</a>
            </div>
            </div>
        </div>
       
        
    </div>
</div>

<!--banner-->
<div class="container padding">
    <div class="row text-center text-danger">
        <div class="col-12">
            <h1 style="padding-top: 50px;" class="display-2 banner ">PICTORIAL SUMMARY OF OUR SERVICE</h1>
        </div>
    </div>
</div>
<!--image gallery-->
<div class="container">
    <div class="row">

        <div class="col-md-3 col-6 my-3"><img class="card-img-top" src="{% static 'img/image-5.jpg' %}" alt=""></div>
        <div class="col-md-3 col-6 my-3"><img class="card-img-top" src="{% static 'img/image-6.jpg' %}" alt=""></div>
        <div class="col-md-3 col-6 my-3"><img class="card-img-top" src="{% static 'img/image-7.jpg' %}" alt=""></div>
        <div class="col-md-3 col-6 my-3"><img class="card-img-top" src="{% static 'img/image-1.jpg' %}" alt=""></div>
        <div class="col-md-3 col-6 my-3"><img class="card-img-top" src="{% static 'img/image-2.jpg' %}" alt=""></div>
        <div class="col-md-3 col-6 my-3"><img class="card-img-top" src="{% static 'img/image-3.jpg' %}" alt=""></div>
        <div class="col-md-3 col-6 my-3"><img class="card-img-top" src="{% static 'img/image-4.jpg' %}" alt=""></div>
        <div class="col-md-3 col-6 my-3"><img class="card-img-top" src="{% static 'img/image-5.jpg' %}" alt=""></div>
        <div class="col-md-3 col-6 my-3"><img class="card-img-top" src="{% static 'img/image-6.jpg' %}" alt=""></div>
        <div class="col-md-3 col-6 my-3"><img class="card-img-top" src="{% static 'img/image-7.jpg' %}" alt=""></div>
        <div class="col-md-3 col-6 my-3"><img class="card-img-top" src="{% static 'img/image-3.jpg' %}" alt=""></div>
        <div class="col-md-3 col-6 my-3"><img class="card-img-top" src="{% static 'img/image-1.jpg' %}" alt=""></div>

    </div>
</div>

<!--Google map-->
<div class="container">
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1978.437654018742!2d3.8772310584328!3d7.367870776202742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s33%20Oremeji%20Street%2C%20behind%20Conac%20optical%2C%20Ososami%2C%20Oke%20ado%2C%20Ibadan.!5e0!3m2!1sen!2sng!4v1627161259204!5m2!1sen!2sng" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>

<!--social media icons-->
<div class="container-fluid padding">
    <div class="row padding text-center">
        <div class="col-12 social padding">
            <a href="#" ><i class="fab fa-facebook"></i></a>
            <a href="#" ><i class="fab fa-youtube"></i></a>
            <a href="#" ><i class="fab fa-twitter"></i></a>
            <a href="#" ><i class="fab fa-instagram"></i></a>
        </div>

    </div>
</div>


  
{% endblock %}