{% extends 'base.html'%}

{% block content%}
{% load static %}

<div id="leads" class="caro-slide" >

    <div class="caro-inn" >
        <div class="caro-item" style="background-color:#424555;">
            <div class="caro-cap text-center">
                <h1>Ministries</h1>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid">
    <div class="jumbotron " style="background-color:white; margin: auto; padding: auto;">
        <p class=" text-center" style= "margin:auto; font-weight: 600; color: #ff1000;">We bring true worship to God and communicate the mind of God to the people through the following structures, thus raising men and women unto perfection.</p>
    </div>
</div>

<div class="container padding">
    <div class="row padding">
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/youth-1-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">Exousia Youths</h2>
                <p class="card-text ministry " >Exousia Youths are the growing youths the Church, aged between 15-25 years. The PMC vision of raisng wholesome youth is expressed in the Exousia Youth Ministry. 
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/pastoral-care-1-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">The Pastoral Team</h2>
                <p class="card-text ministry " >The Pastoral Team of the Church are dedicated ministry oriented individuals who have the passion and calling to serve the Lord alongside with the General Overseer of PMC. 
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        
    </div>
</div>


<div class="container padding">
    <div class="row padding">
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/children-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">Men of Valour</h2>
                <p class="card-text ministry " >Men of Valor is the Married Men's Fellowship of PMC. We are focused, dynamic, result oriented and Prudent Men who provides spiritual, moral, physical and financial leadership for our homes.
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/pastoral-care-1-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">Living Stones</h2>
                <p class="card-text ministry " >Living stones is a fellowship for singles to maximize their singleness. At living stones, singles are taught to discover and pursue their purpose, understand relationships and prepare them for an excellent Marriage. 
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        
    </div>
</div>


<div class="container padding">
    <div class="row padding">
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/strong-men-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">The Pastoral Team</h2>
                <p class="card-text ministry " >The Pastoral Team of the Church are dedicated ministry oriented individuals who have the passion and calling to serve the Lord alongside with the General Overseer of PMC.
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/pastoral-care-1-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">Virtuous Women</h2>
                <p class="card-text ministry " > Truly, the price of a virtuous woman is far above rubies, At PMC, Our Married Women are virtuous women who are continuosly and consistenly encouraged to serve the Lord, buld their homes, love and supports their husbands, and raise godly children.
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        
    </div>
</div>


<div class="container padding">
    <div class="row padding">
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/sermon-top-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">Prayer & Intercession</h2>
                <p class="card-text ministry " >The prayer and intercessory meeting mission is to raise up prayer leaders to guide the church and the body of Christ at large in prayer and intercession. 
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/pastoral-care-1-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">Children - The Junior Church</h2>
                <p class="card-text ministry " >The Junior Church - At PMC Junior Church, we  believe our children are the continuity of the covenant God has made with us. Therefore, we give maximum attention to training our Children in the way of the Lord, instilling the fear of the Lord in their hearts, encouraging them to love the Lord with the whole of their hearts. 
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        
    </div>
</div>
<div class="container padding">
    <div class="row padding">
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/sermon-top-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">Corper's Outreach</h2>
                <p class="card-text ministry " >This is an outreach ministries to Corps Members serving in Oyo State especially in Ibadan. The Church provides welfare and shelter to corps members arriving from Orientation Camp until they are well establish in their Primary Place of Assignment.   
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/pastoral-care-1-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">Community Health Outreach</h2>
                <p class="card-text ministry " >Community Health Outreach is one of the Corporate social responsibilities of the Church in our environment. From time to time, The PMC Community Outreach Team organizes several health outreaches to the community. 
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        
    </div>
</div>
<div class="container padding">
    <div class="row padding">
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/sermon-top-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">Missions and Evangelism Outreaches</h2>
                <p class="card-text ministry " >The PMC Mission and Evangelism Outreaches is to reach out to the unreached with the gospel of our Lord Jesus Christ. We conduct open air crusades, christian film shows, miracle rallies all in a bid to win as many as possible people to the Lord.   
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/pastoral-care-1-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">Ministry Development Program</h2>
                <p class="card-text ministry " >Ministry Development Program is a training programme of the Church to introduce the set standards for membership, Prepare Members for kingdom service, enlist members for discipleship 
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        
    </div>
</div>
<div class="container padding">
    <div class="row padding">
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/sermon-top-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">Discipleship Training</h2>
                <p class="card-text ministry " >The is a process of turning believers into disciples. It is aimed at maturing believers to understand the sound biblical principles.    
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/pastoral-care-1-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">Pilgrim Miracle Bible Institute</h2>
                <p class="card-text ministry " >This is a non denominational Bible Training Institute that men and women who desire to know more of God and how they can be effective Ministers of Christ.
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        
    </div>
</div>








{% endblock %}