{% extends 'base.html'%}

{% block content%}
{% load static %}

<div id="leads" class="caro-slide" >

    <div class="caro-inn" >
        <div class="caro-item" style="background-color:#424555;">
            <div class="caro-cap text-center">
                <h1>Ministries</h1>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid">
    <div class="jumbotron " style="background-color:white; margin: auto; padding: auto;">
        <h1 class=" text-center" style= "margin:auto; font-weight: 600; color: #ff1000;">Ministries We Support</h1>
    </div>
</div>

<div class="container padding">
    <div class="row padding">
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/youth-1-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">Youth for Christ Ministry</h2>
                <p class="card-text ministry " >Youth for Christ (YFC) is one of the Pillar Ministry at Liberty Christian Centre serving all single young people from 18 years and above.
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/pastoral-care-1-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">The Pastoral Care Ministry</h2>
                <p class="card-text ministry " >The pastors at Liberty Christian Center are passionate about the call of God upon their life, are personal in their ministry to the Church and practical in the way they do things.
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        
    </div>
</div>


<div class="container padding">
    <div class="row padding">
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/children-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">Children Ministry</h2>
                <p class="card-text ministry " >The Children’s Ministry helps children to know, love and follow Jesus Christ. The team’s core assignment is to young soldiers for christ
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/donate-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">Women of Purpose</h2>
                <p class="card-text ministry " >Women of Purpose (WOP) Fellowship exists to provide a forum where ladies are spurred to grow in their Christian, personal, professional and family lives…
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        
    </div>
</div>


<div class="container padding">
    <div class="row padding">
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/strong-men-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">Promise Keepers</h2>
                <p class="card-text ministry " >The Promise Keepers – Men’s Ministry at Liberty Christian Centre inspires and equips men to know the Word, teach it, and faithfully follow Christ as husbands, fathers, and friends.
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/volunteer-1-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">Temple of Praise (TOP)</h2>
                <p class="card-text ministry " >The Temple of Praise (TOP) exists as associate ministers at Liberty Christian Centre and the body of Christ at large in edifying and nourishing the Church through Art.
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        
    </div>
</div>


<div class="container padding">
    <div class="row padding">
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/sermon-top-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">Prayer & Intercession</h2>
                <p class="card-text ministry " >The prayer and intercessory meeting mission is to raise up prayer leaders to guide the church and the body of Christ at large in prayer and intercession. 
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="card">
            <img class="card-img-top" src="rgc_folder/discipleship1-570x340.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title">Discipleship</h2>
                <p class="card-text ministry " >The discipleship ministry exists to ground believers in the matters of salvation, offering them spiritual and social support required for them to mature in Christian doctrine.
                </p>
                <a href="#" class="btn btn-outline-secondary btn-lg">READ MORE</a>
            </div>
            </div>
        </div>
        
    </div>
</div>









{% endblock %}