{% load static %}
<footer>

    <div class="container padding">
   <div class="row text-center d-flex justify-content-center pt-5 mb-3">

       <nav class="navbar navbar-expand-md navbar-light bg-light" id="footer-nav" >
            <ul class="navbar-nav text-center">
               <li class="nav-item ">
                   <a class="nav-link" href="{% url 'about' %}">About Us</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="{% url 'church' %}">Church Services</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="{% url 'sermon' %}">Sermons</a>
               </li>
                <li class="nav-item">
                   <a class="nav-link" href="{% url 'contact' %}">Contacts</a>
                </li>
           </ul> 
       </nav>
       
   </div>
</div>

</footer>

  
   <div class="container-fluid">

       <div class="col-12 text-center">
           <hr class="dark">
           <h5>Pilgrim Miracle Church Copyright &copy All rights reserved.</h5>
           
       </div>

   </div>
   <!--back to top icon-->
   <a id="back-to-top" href="#" class="btn btn-outline-danger btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></a>
   <!--whatsapp chat-->
   <a href="https://wa.me/+23409124670931=Hola%information%." class="float1" target="_blank">
       <i class="fab fa-whatsapp my-float"></i>
   </a>
   <a id="chat_btn" href="#" type="button" class=" btn btn-outline-light btn-lg">
       <i>Need Help? Chat with Us</i>
   </a>
   
