<nav>
    <div class="logo">
        <p>
            <img src="./image/logo.svg" alt="church-logo">
        </p>
        <p id="menu">
            <img src="./image/icon-hamburger.svg" alt="menu">
        </p>                
    </div>
    
    <ul class="open-nav nav-out">
        <li>
            <a href="about.html">About us</a>
        </li>
        <li>
            <a href="contact.html">Contact us</a>
        </li>
        <li>
            <a href="better.html">Better Nigeria</a>
        </li>
        <li class="active">
            <a href="index.html">Messages</a>
        </li>
        <li class="close-container">
            <img class="" src="./image/icon-close.svg" alt="close" id="close">
        </li>     
    </ul>
</nav>
