{% load static%}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<nav>
    <div class="logo">
        <p>
            <img src="{% static 'img/logo.jpg'%}" alt="church-logo">
        </p>
        <p id="menu">
            <img src="{% static 'icon-hamburger.svg'%}" alt="menu">
        </p>                
    </div>
    
    <ul class="open-nav nav-out">
        <li>
            <a href="{% url 'about' %}">About us</a>
        </li>
        <li>
            <a href="{% url 'contact' %}">Contact us</a>
        </li>
        <li>
            <a href="{% url 'better_nigeria' %}">Better Nigeria</a>
        </li>
        <li class="active">
            <a href="{% url 'messages' %}">Messages</a>
        </li>
        <li class="close-container">
            <img class="" src="./image/icon-close.svg" alt="close" id="close">
        </li>     
    </ul>
</nav>
