body{
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
    filter: grayscale(90%);
}
li{
    list-style-type: none;
}
ul{
    padding: 0;
}
.app{
    width: 100vw;
}
.hide, .hide-mobile{
    display: none;
}
header{
    overflow: hidden;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.bg-image{
    width: 100%;
}
.header-texts{
    position: absolute;
    color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    top: -1rem;
    width: 100%
}
nav{
    width: 100%;
}
.nav-in{
    animation-name: nav-in;
    animation-duration: 1s;
    animation-delay: 10ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.nav-out{
    animation-name: nav-out;
    animation-duration: 1s;
    animation-delay: 10ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes nav-out{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-500px);
    }
}
@keyframes nav-in{
    0%{
        opacity: 0;
        transform: translateY(-500px);
    }
    25%{opacity: 0.375;}
    50%{opacity: .5;}
    100%{
        transform: translateY(0)
    }
}
.open-nav{
    background: white;
    width: 100%;
    z-index: 5;
    position: absolute;
    height: 40vh;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #222F33;
}
.register{
    width: 90%;
    margin: auto;
    border: 3px solid #222F33;
    padding: 2rem 0;
    border-radius: 5px;
    margin-bottom: .5rem;
}
form{
    width: 80%;
    margin: auto;
    text-align: center;
}
.open-nav li:not(.close-container){
    border: 1px solid #222F33;
    padding: .5rem 1.5rem;
    margin: 3px;
    border-radius: 8px;
}
.close-container{
    width: 10%;
}
.logo{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: .5rem 0;
    margin:auto;
}#menu{
    padding-top: .5rem;
}
.top-text{
    width: 90%;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    top:calc(9rem + 1vw);
    left: 1rem;
}
.top-text p:first-of-type{
    font-size: .725rem;
    margin: 0;
}
.top-text p:nth-child(2){
    font-size: calc(1.1rem + 1vw);
    margin: 0;
}
main .top{
    display: flex;
    flex-direction:column;
    z-index: -1;
    margin-top: -3px;
    box-sizing: border-box;
    z-index: -1;
    margin-top: -3px;
    background: white;
}
main .text{
    margin: auto;
    width: 90%;
    padding: 1rem 0;
    text-align: center;
}
.mid{
    background: #222F33;
    color: white;
    padding: 2.5rem 0;
}
.mid-text{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.mid-text p:first-of-type{
    text-align: center;
    font-size: 1.5rem;
    background: white;
    color: #222F33;
    padding: .5rem 0;
    margin-bottom: 1rem;
    /* width: 50%; */
    border-radius: 8px;
}
.mid-text p{
    margin: .5rem 0;
    width: 100%;
}
.mid *{
    width: 90%;
    margin: auto;
}
.details{
    background: white;
    padding: 1.5rem 0;
}
.details ul{
    width: 90%;
    margin: auto;
}
.details ul li{
    margin: 0 auto;
    width: 70%;
}
.details ul li p:first-of-type{
    margin: 0;
    font-size: 1.5rem;
    background: #222F33;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 8px;
}
.details ul li p:nth-of-type(2){
    padding: .5rem;
    margin: 0;
}
footer{
    background: #222F33;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 1rem 0;
    margin-top: -5px;
}
a{
    text-decoration: none;
    color: #222F33;
}
.hide-d{display: none;}
.join{
    border: 1px solid #222F33;
    padding: .5rem 2rem ;
    border-radius: 8px;
    background: white;
}
.button-cont{
    text-align: center;
    padding: 7rem 0;
}
input:not(.join){
    padding: .875rem;
    border-radius: 5px;
    outline-color: #222F33;
}
label{
    font-size: .75rem;
}
input:focus{
    outline: 1px solid teal;
    border-radius:8px;
}

@media screen and (min-width:760px){
    input:focus{
        outline: 3px solid teal;
    }
    #menu, #close, .bg-hide{
        display: none;
    }
    .logo {
        width: 20%;
        margin: 0;
    }
    nav{
        display: flex;
        width: 85%;
        margin: auto;
        justify-content: space-between;
        padding-top: 1rem;
        box-sizing: border-box;
    }
    .open-nav{
        flex-direction: row;
        display: flex;
        width: 85%;
        position: unset;
        margin-left: -3rem;
        height: unset;
    }
    .nav-out{
        animation-name: none;
        background: unset;        
    }.open-nav li:not(.active) a{
        color: white;
        font-size: 1.25rem;
    }
    .open-nav li:not(.close-container) {
        border: 1px solid #222F33;
        padding: .5rem .5rem;
        margin: 0 8px;
        border-radius: 8px;
    }
    .active{
        background: white;
    }
    .active a {
        font-size: 1.25rem;
        border: 0;
        color: #222F33;
    }
    .top-text{   
        position: absolute;
        top: 28rem;
        left: 4rem;
    }
    .top-text p:first-of-type{
        font-size: 2rem;
    }
    .top-text:nth-child(2){
        font-size: 4rem;
        width: 30rem;
        margin: 1.5rem;
    }
    .register{
        width: 80%;
    }
    input:not(.join){
        padding: .875rem;
        border-radius: 5px;
        width: 50%;     
        outline-color: #222F33;
    }
    .join{
        width: 30%;
        padding: 1.32rem 0;
    }
    .checkbox{
        display: flex;
        width: 50%;
        text-align: center;
        margin: auto;
    }
    #notify{
        width: max-content;
    }
}
@media screen and (min-width:1020px){
    .hide-d{
        display: flex;
    }
    .open-nav{
        background: unset;
        width: 56%;
    }
    .top-text{
        top: 40rem;
    }
    main .text{
        width: 50%;
        padding: 3rem 1rem;
    }
    .button-cont{
        width: 71rem;
        text-align: center;
        position: absolute;
        top: -9rem;
    }
    .open-nav li:not(.close-container) {
        border: 1px solid #222F33;
        padding: .5rem .5rem;
        margin: 0 3px;
        border-radius: 8px;
    }
    main .top, .mid, .bottom{
        display: flex;
        flex-direction: row;
    }
    .hide-mobile{
        display: flex;
        width: 50%;
        padding: 3rem;
        position: relative;
        /* box-sizing: border-box; */
    }
    .image{
        width: 75%;
    }
    .image::before{
        content: "";
        width: 29rem;
        height: 20rem;
        background: #222F33;
        position: absolute;
        top: 1rem;
        left: 6rem;
        z-index: 0;
        border-radius: 5px;
    }
    .details, .mid-text{
        width: 50%;
        margin: 0;
    }
    .bottom .hide-mobile{
        padding: 3rem 0;
    }
    .mid .hide-mobile{
        margin: 0;
    }
    .mid .image::before{
        background: white;
        left: 10rem;
        top: 0;        
    }
    
    .mid-text p{
        width: 80%;
        margin: auto;
    }
}